<a href="https://colab.research.google.com/github/gsb3501/2023bigdatamarketing/blob/main/20230825_baekjoon_python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

백준 파이썬 연습

10807

In [ ]:
#a = []
#for i in range(3):
#  a.append(int(input()))

# num_list = input()
# num_list2 = num_list.split(sep = ' ')
# num_list3 = list(map(int, num_list2)) # map: 리스트의 요소 하나하나에 뭔가를 한번에 적용시키는 함수

N = int(input())
num_list3 = list(map(int,input().split(' ')))
v = int(input())


# 위의 map 과 같은 결과
# num_list3 = []
# for num in num_list2:
#   num_list3.append(int(num))


# print(num_list3)

#반복문으로 확인
# cnt = 0
# for num in num_list3:
#   if num == v:
#     cnt +=1
# print(cnt)

cnt = num_list3.count(v)
print(cnt)

11
1 4 1 2 4 2 4 2 3 4 4
5
[1, 4, 1, 2, 4, 2, 4, 2, 3, 4, 4]
0

In [ ]:
a = ['1', '2', '3']
' '.join(a)

'1 2 3'

# 10871

In [ ]:
#내가 푼 것
A = list(map(int,input().split(' ')))
num_list = list(map(int,input().split(' ')))

a = []
for num in num_list:
  if num < A[1]:
    a.append(num)

print(' '.join(list(map(str, a))))

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

In [ ]:
# 짧은 코드

N, X = map(int, input().split(' '))
num_list = list(map(int, input().split(' ')))

a = []
for num in num_list:
  if num < X:
    a.append(str(num))

print(" ".join(a))

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

In [ ]:
# 명령이 하나라면 if문을 아래와 같이 간단하게 작성하는 것이 가능

# 명령1 if 조건 else 명령 2

# [i for i in 리스트]

In [ ]:
[i for i in range(1,101)]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [ ]:
[i if i%2 ==0 else 0 for i in range(1,101)]

[0,
 2,
 0,
 4,
 0,
 6,
 0,
 8,
 0,
 10,
 0,
 12,
 0,
 14,
 0,
 16,
 0,
 18,
 0,
 20,
 0,
 22,
 0,
 24,
 0,
 26,
 0,
 28,
 0,
 30,
 0,
 32,
 0,
 34,
 0,
 36,
 0,
 38,
 0,
 40,
 0,
 42,
 0,
 44,
 0,
 46,
 0,
 48,
 0,
 50,
 0,
 52,
 0,
 54,
 0,
 56,
 0,
 58,
 0,
 60,
 0,
 62,
 0,
 64,
 0,
 66,
 0,
 68,
 0,
 70,
 0,
 72,
 0,
 74,
 0,
 76,
 0,
 78,
 0,
 80,
 0,
 82,
 0,
 84,
 0,
 86,
 0,
 88,
 0,
 90,
 0,
 92,
 0,
 94,
 0,
 96,
 0,
 98,
 0,
 100]